// typography

$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$baseline: 1.6rem;
$scale: 1.333; // typographic scale

// colour

$primary-color: #333;
$secondary-color: #3a8ee2;
$accent-color: #344556;


// layout

$large-column-number: 12;
$small-column-number: 4;
$gutter: 10px;
$max-width: 1000px;